Screen {
    layout: vertical;
    align: center middle;
    /*content-align: center middle;*/
    /*align: center middle;*/
}

Static {
    width: auto;
    /*content-align: center middle;*/
    border: round;
}

ProgressBar {
    /*content-align: center middle;*/
    /*width: 100%;*/
    width: auto;
    border: round;
    height: 3;

}

LoadingIndicator {
    height: 5;
    width: auto;
    border: round;
}