SongsScreen {
    align: center top;
}

#songs-table {
    border: round $accent;
    padding: 0 1;
}

#song-details-container {
    border: round $accent;
    width: 1fr;
    height: auto;
    padding: 0 1;
}
