ModalScreen {
    layout: vertical;
    align: center middle;

    Button {
        width: 50;
    }
}

Screen {
    align: center middle;
}

#title-bar {
    dock: top;
    background: $primary;
}

.spacer {
    height: 1;
}