SongOverviewModal {
    layout: vertical;
    width: auto;
    height: auto;
    align: center middle;
    content-align: center middle;
    overflow-y: scroll;
}

#selection-list {
    width: 1fr;
    overflow-y: auto;
}
